@tailwind base;
@tailwind components;
@tailwind utilities;


.row-gap-sm > div {
  @apply mb-2 
}

.row-gap-md > div {
  @apply mb-4 
}

.row-gap-lg > div {
  @apply mb-6
}

.col-gap > div {
  @apply mr-2 
}



:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: rgb(146, 31, 31) */
  background: rgb(249 250 251)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
